<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
</head>
<body>
  <%- include('components/navbar') %>
  <h1>Browse our products by category</h1>
  <h2>Guitars</h2>
  <% guitars.forEach((guitar) => { %>
    <h3><%= guitar.name %></h3>
  <% }); %>
</body>
</html> 