<h1>Browse our products by category</h1>
<h2>Guitars</h2>
<% guitars.forEach((guitar) => { %>
  <%- include('components/productCard', { product: guitar }) %>
<% }); %>

<%- contentFor('title') %> Products