<h1>Suppliers</h1>

<ul class="suppliers-list">
  <% suppliers.forEach((supplier) => { %>
    <li class="supplier-li">
      <p><%- supplier.supplier_id %></p>
      <p><%- supplier.supplier_name %></p>
      <a href="suppliers/<%- supplier.supplier_id %>/products">See Supplier Products</a>
    </li>
  <% }); %>
</ul>